APP_NAME=cybersport
APP_ENV=development
HTTP_PORT=8080
DATABASE_URL=host=localhost port=5432 user=postgres password=ADMIN dbname=cybersport sslmode=disable
JWT_ACCESS_SECRET=change-me-access-secret
JWT_REFRESH_SECRET=change-me-refresh-secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h
RATES_PROVIDER_URL=https://api.coingecko.com/api/v3
FRONTEND_ORIGIN=http://localhost:5173,http://192.168.1.113:5173
MIGRATIONS_DIR=./migrations
VITE_API_URL=http://localhost:8080/api/v1
POSTGRES_DB=cybersport
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
